<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/ina.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="css/jquery.convform.css">
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
  <script type="text/javascript" src="js/jquery.convform.js"></script>
 
  
  
  <title>Index</title>
</head>
<body>

 
 <div class="chaticon">
    <i class="fa fa-comment" aria-hidden="true"></i>
 </div>

 <div class="chatbox">
  <div class="my-conv-form-wrapper">
		<form action="" method="POST" class="hidden">

      <select data-conv-question="Hello! How can I help you" name="category">
        <option value="farmer">I am an farmer</option>
        <option value="buyer">I am an buyer</option>
      </select>

      <div data-conv-fork="category">
        <div data-conv-case="farmer">
          <input type="text" name="register" data-conv-question="Please, register first">    
        </div>
        <div data-conv-case="buyer" data-conv-fork="first-question2">
          <input type="text" name="register" data-conv-question="Please, register first"> 
        </div>
      </div>

      <input type="text" name="name" data-conv-question="Please, Enter your name">

      <input type="text" data-conv-question="Hi {name}, <br> It's a pleasure to meet you." data-no-answer="true">

     

      <select data-conv-question="Please Confirm">
        <option value="Yes">Confirm</option>
      </select>

  	</form>
	</div>
 </div>

  <header>
    <h1>FarmFriend</h1>
  </header>
  
  <nav class="main-nav">
    <ul>
      <li><a href="/login" class="join">Login</a></li>
      <li><a href="/register" class="register">Register</a></li>
      
      <li><a href="/plist">Prices List</a></li>
      <li><a href="/fqc">FQC Union</a></li>
      <li><a href="/product">List Product</a></li>

    </ul>
  </nav>
  

 <section class="banner">
  <img src="/img/farmer1.jpg" onmouseover="imagefun()" id="getImage">
     </section> 
    
  
  
  <div class="userdetails"> 
    <h3>Product List</h3>
     <% if (idpasses.length > 0) { %>
      <% idpasses.forEach(idpass => { %>
        <a class="single" href="/talk">
        <p><%= idpass.username  %>               
           <%= idpass.Productname  %>
          <%= idpass.district    %>
          <%= idpass.variety    %>
         <%= idpass.price      %><br></p></a>
      
    <% }) %>
  <% } else { %>
    <p>There is no list to display...</p>
  <% } %> 
  </div>
  <section class="join">
    <h2>Our vision!</h2>
    <p>We are Trying to establish a direct communuication between farmer and buyer eradicating the middleman in the demand-supply chain.</p>
    
  </section>
  <footer>
    <p class="copyright">Copyright &copy 2021 DevHaste</p>
  </footer>


<script>
    function imagefun() {
        var Image_Id = document.getElementById('getImage');
        if (Image_Id.src.match("/img/farmer1.jpg")) {
            Image_Id.src = "/img/farmer2.jpg";
           }

         else if(Image_Id.src.match("/img/farmer2.jpg")) {
            Image_Id.src = "/img/farmer3.jpg";
                }  

        else {
            Image_Id.src = "/img/farmer1.jpg";
        }
    }        
</script>
 
</body>
</html>